@model List<PortfolioCore.Entities.SocialMedia>

<div class="social-links">
    @foreach (var item in Model)
    {
        <a href="@item.Url" title="@item.Title" target="_blank">
            <i class="@item.Icon"></i>
        </a>
    }
</div>
