
@{
    Layout = null;
}

<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>404 - Sayfa bulunamadı!</title>
</head>

<body>
    <div class="container">
        <img src="~/MyResume-1.0.0/assets/img/404.webp" width="500" />
        <br />
        <h3>
            Oopss!.. Sayfa bulunamadı
        </h3>
        <br />
        <a class="buton" href="/Default/Index/">Ana Sayfaya Dön</a>
    </div>
</body>

</html>
