@model Service
@{
    ViewData["Title"] = "UpdateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Hizmet Güncelleme Sayfası</h1>

<form method="post">
    <input type="hidden" class="form-control" asp-for="ServiceID" />
    <label>Hizmet Türü</label>
    <input type="text" class="form-control" asp-for="Title" style="border:1px solid black" />
    <br /> <label>İkon</label>
    <input type="text" class="form-control" asp-for="ImageUrl" style="border:1px solid black" />
    <br />
    <label>Açıklama</label>
    <input type="text" class="form-control" asp-for="Description" style="border:1px solid black " />
    <br />
    <button class="btn btn-success">Hizmet Bilgisi Güncelle</button>
</form>